:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #1E78D4;
  --secondary: #69e0a5;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --primary-2: #225560;
  --primary-3: #040303;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Monteserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

section {
  position: relative
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto
}

.display-1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.2
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.2
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2
}

.display-1, .display-2, .display-3, .display-4, .h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  letter-spacing: -.03em
}

.display-1, .display-2, .display-3, .display-4 {
  color: #212529
}

.display-1, .display-2, .display-3, .display-4 {
  margin-bottom: 1.5rem;
  line-height: 1
}

.display-4 {
  line-height: 1.1
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: #212529
}

.h1, h1 {
  font-size: 2.5rem
}

.h2, h2 {
  font-size: 2rem
}

.h3, h3 {
  font-size: 1.75rem
}

.h4, h4 {
  font-size: 1.5rem
}

.h5, h5 {
  font-size: 1.25rem
}

.h6, h6 {
  font-size: 1rem
}

.lead {
  font-size: 1.25rem;
  font-weight: 400
}

.display-1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.2
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.2
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.small, small {
  font-size: .75rem;
  font-weight: 400
}

@media (max-width:1199.98px) {
  .display-3 {
    font-size: 3.5rem;
    line-height: 4rem
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

[class*='-flex']>.btn {
  flex-shrink: 0;
}

.btn {
  letter-spacing: -.02em;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .875rem 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3125rem;
}

.btn-primary {
  color: #fff;
  background-color: #1E78D4;
  border-color: #1E78D4;
}

.btn-primary-3 {
  color: #fff;
  background-color: #040303;
  border-color: #040303
}

.btn-primary-3:hover {
  color: #fff;
  background-color: #000;
  border-color: #000
}

.btn-primary-3.focus, .btn-primary-3:focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
  box-shadow: 0 0 0 .2rem rgba(42, 41, 41, .5)
}

.btn-primary-3.disabled, .btn-primary-3:disabled {
  color: #fff;
  background-color: #040303;
  border-color: #040303
}

.btn-primary-3:not(:disabled):not(.disabled).active, .btn-primary-3:not(:disabled):not(.disabled):active, .show>.btn-primary-3.dropdown-toggle {
  color: #fff;
  background-color: #000;
  border-color: #000
}

.btn-primary-3:not(:disabled):not(.disabled).active:focus, .btn-primary-3:not(:disabled):not(.disabled):active:focus, .show>.btn-primary-3.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(42, 41, 41, .5)
}

.mt-3, .my-3 {
  margin-top: 1.5rem !important
}

.ml-1, .mx-1 {
  margin-left: .375rem !important
}

.mr-1, .mx-1 {
  margin-right: .375rem !important
}

.mt-sm-0, .my-sm-0 {
  margin-top: 0 !important
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
  letter-spacing: -.02em;
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.btn-primary-3 {
  color: #fff;
  background-color: #040303;
  border-color: #040303;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5
}

.btn-light.focus, .btn-light:focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529
}

.btn-dark:hover {
  color: #fff;
  background-color: #101214;
  border-color: #0a0c0d
}

.btn-dark.focus, .btn-dark:focus {
  color: #fff;
  background-color: #101214;
  border-color: #0a0c0d;
  box-shadow: 0 0 0 .2rem rgba(66, 70, 73, .5)
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #0a0c0d;
  border-color: #050506
}

.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(66, 70, 73, .5)
}

.navbar {
  border-bottom: 1px solid rgba(4, 3, 3, .08);
  width: 100%
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(73, 80, 87, .5);
}

.navbar .nav-link {
  transition: color .2s ease;
}

.dropdown-toggle {
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  cursor: pointer;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle:after {
  display: none !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.navbar[data-overlay] {
  position: absolute
}

.navbar[data-sticky=top] {
  transition: all .2s ease
}

.navbar[data-sticky=top].scrolled.navbar-dark {
  background: #040303;
  border-bottom-color: transparent
}

.navbar[data-sticky=top].scrolled.navbar-light {
  background: #fff !important
}

.navbar[data-overlay], .navbar[data-sticky=top] {
  z-index: 999
}

.navbar[data-overlay].scrolled, .navbar[data-sticky=top].scrolled {
  z-index: 1030
}

.navbar .dropdown-menu {
  z-index: 1060
}

.navbar .nav-link {
  transition: color .2s ease
}

.navbar-container {
  position: relative
}

.navbar-light .navbar-toggler svg path {
  fill: #212529
}

.navbar-toggler {
  border: none;
  position: relative
}

.navbar-toggler[aria-expanded=false] .navbar-toggler-close {
  opacity: 0;
  transform: scale(0) rotate(45deg)
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-open {
  opacity: 0;
  transform: scale(0) rotate(-45deg)
}

.navbar-toggler-close, .navbar-toggler-open {
  transition: opacity .2s ease, transform .2s ease;
  opacity: 1;
  transform: scale(1)
}

.navbar-toggler-close {
  position: absolute;
  top: 0;
  left: 0
}

*, ::after, ::before {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}

.bg-primary-3 {
  background-color: #040303 !important;
}

footer {
  padding: 6rem 0;
  padding-top: 6rem;
  padding-right: 0px;
  padding-bottom: 6rem;
  padding-left: 0px;
}

@media (min-width:992px) {
  .navbar {
    padding-left: 0;
    padding-right: 0
  }

  .navbar .dropdown-menu {
    margin-top: 1rem
  }
}

@media (max-width:991.98px) {
  .navbar-collapse {
    max-height: 100vh;
    overflow-y: scroll
  }
}

@media (max-width:991.98px) {
  .nav-item.dropdown .col-auto {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
}

@media (max-width:991.98px) {
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
    padding-right: 0;
    padding-left: 0
  }
}

@media (min-width:992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
    flex-wrap: nowrap
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto
  }

  .navbar-expand-lg .navbar-toggler {
    display: none
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px
}

.justify-content-center {
  justify-content: center !important
}

.text-center {
  text-align: center !important
}

.overlay .container {
  z-index: 1;
  position: relative
}

section.has-divider {
  padding: 0
}

section.has-divider .container {
  padding-top: 6rem;
  padding-bottom: 6rem
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container, .container-sm {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container, .container-md, .container-sm {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px
  }
}

section {
  padding: 6rem 0
}

section {
  position: relative;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}

footer {
  padding: 6rem 0;
}

body {
  margin: 0;
  font-family: "Monteserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}

footer .nav-link, section .nav-link {
  transition: opacity .2s linear
}

footer .nav-link:not(.active):not(.disabled):not(:hover), section .nav-link:not(.active):not(.disabled):not(:hover) {
  opacity: .5
}

footer .nav-link .icon, section .nav-link .icon {
  transform: translate3d(0, 0, 0)
}

footer .nav-link[aria-expanded=true], section .nav-link[aria-expanded=true] {
  opacity: 1 !important
}

footer:not(.text-light) .nav-link, section:not(.text-light) .nav-link {
  color: #212529
}

@media (max-width:991.98px) {
  .nav-item.dropdown .col-auto {
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df
}

.bg-primary-3 {
  background-color: #040303 !important
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-uppercase {
  text-transform: uppercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.font-weight-light {
  font-weight: 300 !important
}

.font-weight-lighter {
  font-weight: lighter !important
}

.font-weight-normal {
  font-weight: 400 !important
}

.font-weight-bold {
  font-weight: 600 !important
}

.font-weight-bolder {
  font-weight: bolder !important
}

.font-italic {
  font-style: italic !important
}

.text-white {
  color: #fff !important
}

.text-primary {
  color: #1E78D4 !important
}

a.text-primary:focus, a.text-primary:hover {
  color: #215035 !important
}

.text-secondary {
  color: #6c757d !important
}

a.text-secondary:focus, a.text-secondary:hover {
  color: #494f54 !important
}

.text-purple {
  color: #800080 !important
}

a.text-purple:focus, a.text-success:hover {
  color: #800080 !important
}

.text-success {
  color: #28a745 !important
}

a.text-success:focus, a.text-success:hover {
  color: #19692c !important
}

.text-info {
  color: #17a2b8 !important
}

a.text-info:focus, a.text-info:hover {
  color: #0f6674 !important
}

.text-warning {
  color: #ffc107 !important
}

a.text-warning:focus, a.text-warning:hover {
  color: #ba8b00 !important
}

.text-danger {
  color: #dc3545 !important
}

a.text-danger:focus, a.text-danger:hover {
  color: #a71d2a !important
}

.text-light {
  color: #f8f9fa !important
}

a.text-light:focus, a.text-light:hover {
  color: #cbd3da !important
}

.text-dark {
  color: #212529 !important
}

a.text-dark:focus, a.text-dark:hover {
  color: #000 !important
}

.text-primary-2 {
  color: #225560 !important
}

a.text-primary-2:focus, a.text-primary-2:hover {
  color: #0e2328 !important
}

.text-primary-3 {
  color: #040303 !important
}

a.text-primary-3:focus, a.text-primary-3:hover {
  color: #ffffff
}

.text-body {
  color: #495057 !important
}

.text-muted {
  color: #adb5bd !important
}

.text-black-50 {
  color: rgba(0, 0, 0, .5) !important
}

.text-white-50 {
  color: rgba(255, 255, 255, .5) !important
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}

.text-decoration-none {
  text-decoration: none !important
}

.text-break {
  word-wrap: break-word !important
}

.text-reset {
  color: inherit !important
}

.visible {
  visibility: visible !important
}

.invisible {
  visibility: hidden !important
}

footer:not(.text-light) .nav-link, section:not(.text-light) .nav-link {
  color: #212529
}

.text-light .display-1, .text-light .display-2, .text-light .display-3, .text-light .display-4, .text-light .h1, .text-light .h2, .text-light .h3, .text-light .h4, .text-light .h5, .text-light .h6, .text-light a:not(.btn), .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
  color: #fff
}

.text-light .text-muted {
  color: rgba(255, 255, 255, .7) !important
}

.hover-arrow:after {
  display: inline-block;
  margin-left: .375rem;
  transition: transform .2s ease;
  content: '\1f449'
}

.hover-arrow:hover:after {
  transform: translate3d(12px, 0, 0)
}

a.card {
  color: #495057;
  font-weight: 400;
  transition: all .1s ease;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .625rem;
}

a {
  font-weight: 600;
  color: #1E78D4;
}

a {
  color: #1E78D4;
  text-decoration: none;
  background-color: transparent;
}

@media (min-width:576px) {
  .card.card-lg.card-body {
    padding: 3rem
  }
}

.hover-shadow-3d {
  box-shadow: 0 0 0 transparent;
}

a.card[class*=hover-shadow]:hover {
  transform: translate3d(-4px, -4px, 0) rotateZ(-1deg)
}

.card[class*=bg-primary]:not([class*=hover-bg-primary]) {
  border-color: transparent
}

.card[class*=hover-] {
  transition: background-color .2s ease, box-shadow .2s ease, transform .2s ease
}

.card {
  margin-bottom: 1.5rem;
}

.align-items-center {
  align-items: center !important;
}

.flex-row {
  flex-direction: row !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem;
}

.hover-bg-primary:hover {
  background: #1E78D4;
  border-color: #1E78D4;
  color: #fff
}

.hover-bg-primary:hover .h1, .hover-bg-primary:hover .h2, .hover-bg-primary:hover .h3, .hover-bg-primary:hover .h4, .hover-bg-primary:hover .h5, .hover-bg-primary:hover .h6, .hover-bg-primary:hover h1, .hover-bg-primary:hover h2, .hover-bg-primary:hover h3, .hover-bg-primary:hover h5, .hover-bg-primary:hover h6 {
  color: #fff
}

.hover-bg-primary:hover .icon-round {
  background: rgba(255, 255, 255, .1) !important
}

.hover-bg-primary:hover .icon * {
  fill: #fff
}

.hover-bg-primary-2:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff
}

.hover-bg-primary-2:hover .h1, .hover-bg-primary-2:hover .h2, .hover-bg-primary-2:hover .h3, .hover-bg-primary-2:hover .h4, .hover-bg-primary-2:hover .h5, .hover-bg-primary-2:hover .h6, .hover-bg-primary-2:hover h1, .hover-bg-primary-2:hover h2, .hover-bg-primary-2:hover h3, .hover-bg-primary-2:hover h5, .hover-bg-primary-2:hover h6 {
  color: #fff
}

.hover-bg-primary-2:hover .icon-round {
  background: rgba(255, 255, 255, .1) !important
}

.hover-bg-primary-2:hover .icon * {
  fill: #fff
}

.hover-bg-primary-3:hover {
  background: #040303;
  border-color: #040303;
  color: #fff
}

.hover-bg-primary-3:hover .h1, .hover-bg-primary-3:hover .h2, .hover-bg-primary-3:hover .h3, .hover-bg-primary-3:hover .h4, .hover-bg-primary-3:hover .h5, .hover-bg-primary-3:hover .h6, .hover-bg-primary-3:hover h1, .hover-bg-primary-3:hover h2, .hover-bg-primary-3:hover h3, .hover-bg-primary-3:hover h5, .hover-bg-primary-3:hover h6 {
  color: #fff
}

.hover-bg-primary-3:hover .icon-round {
  background: rgba(255, 255, 255, .1) !important
}

.hover-bg-primary-3:hover .icon * {
  fill: #fff
}

.hover-shadow-3d {
  box-shadow: 0 0 0 transparent
}

.hover-shadow-3d:hover {
  box-shadow: .5rem .5rem 0 rgba(233, 236, 239, .5);
  transform: translate3d(-4px, -4px, 0) rotateZ(-1deg)
}

.hover-shadow-sm {
  box-shadow: 0 0 0 transparent
}

.hover-shadow-sm:hover {
  box-shadow: 0 .125rem .625rem rgba(0, 0, 0, .05)
}

.icon.icon-lg {
  height: 3rem;
}

img[data-inject-svg] {
  opacity: 0;
}

.icon {
  flex-shrink: 0;
  width: auto;
  height: 1.5rem;
}

.icon-round {
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}

.icon-round>.icon {
  height: 2.25rem
}

.icon-round.bg-primary {
  background: rgba(30, 120, 212, .1) !important
}

.icon-round.bg-primary-2 {
  background: rgba(34, 85, 96, .1) !important
}

.icon-round.bg-primary-3 {
  background: rgba(4, 3, 3, .1) !important
}

.icon-round.bg-white {
  background: rgba(255, 255, 255, .1) !important
}

.lead {
  font-size: 1.25rem;
  font-weight: 400
}

a.lead {
  font-weight: 600;
}

.card[class*=bg-primary]:not([class*=hover-bg-primary]) {
  border-color: transparent;
}

.shadow-3d {
  box-shadow: 0.5rem 0.5rem 0 rgba(233, 236, 239, .5);
}

.o-hidden {
  overflow: hidden;
}

.card {
  margin-bottom: 0rem;
}

.text-light {
  color: #f8f9fa !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.border-0 {
  border: 0 !important;
}

.bg-primary {
  background-color: #1E78D4 !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem;
}

.btn-white {
  background: #fff;
  color: #1E78D4;
}

.breadcrumb-item a:not(:hover) {
  opacity: .75;
}

.breadcrumb-item a {
  transition: opacity .1s linear;
}

a {
  font-weight: 600;
  color: #1E78D4;
}

.breadcrumb {
  display: inline-flex;
  font-weight: 600;
}

.breadcrumb {
  flex-wrap: wrap;
  padding: .5rem 1.25rem;
  margin-bottom: 0;
  list-style: none;
  background-color: rgba(30, 120, 212, .1);
  border-radius: 200rem;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

@media (min-width:768px) {
  .card-icon-2 {
    min-height: 22rem
  }
}

.card-icon-3 {
  overflow: hidden
}

.card-icon-3 h3 {
  margin-bottom: 1rem
}

.card-icon-3 .badge {
  position: absolute;
  top: 3rem;
  right: 1rem;
  max-height: 3rem;
}

@media (min-width:768px) {
  .card-icon-3 {
    min-height: 27rem
  }

  .card-icon-3 .icon-round {
    transform: scale(5);
    position: relative;
    bottom: 1rem;
    right: 1rem
  }
}
